/* heading */
.navbar__container{
    border-bottom: 1px solid;
}

.navbar__logo{
    font-weight: bold;
    font-size: 2.0rem;
    margin-left: 80px;   
}
@media all and (max-width: 960px) {
    .navbar__container{
        display: none;
    }
}

/* sidebar */
.btn-mobile-menu{
    display:none;
    position:fixed;
    z-index:9999;
    top:0;
    right:0;
    left:0;
    width:100%;
    height:35px;
    background: #2a3842;
    border-bottom:1px solid rgba(255,255,255,0.1);
    text-align:center;
}

.btn-mobile-menu__icon{
    position:relative;
    top:10px;
    color:#FFF;
}

.sidebar-wrapper{
    display: block;
    background-color: #2a3842;
    width:80px;
    height:100%;
    font-size:16px;
    font-weight:normal;
    text-align: center;
    position:fixed;
    padding-top: 20px;
}

.sidebar__menu{
    margin:0;
    padding:0;
    list-style:none;
    display: inline!important;
}
.sidebar__menu-list{
    padding:0.25rem 0;
    margin-top: 15px;
}

.sidebar__menu-list--white{
    color:white;
}
.sidebar__menu-list--white:hover{
    color:#0080cc;
}

@media all and (max-width: 960px) {
    .btn-mobile-menu {
        display: block;
     }
    
    .sidebar-wrapper{
        display:none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        background-color: #2a3842;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        padding: 20px 0;
    }
    .sidebar-wrapper.visible{
        display: block;
        height:70px;
        z-index:800;
    }
    .cover-sidebar{
        display:block;
        position: relative;
        float:left;
        clear: left;
        width:100%;
    }
    .sidebar__menu{
        display: block;
        width:100%;
    }
    .sidebar__menu li{
        display: inline-block;
        width: 15%; 
    }
    .sidebar__menu span{
        display: none;
    }
    
    .dash-margin{
        margin-right: 14px;
    }
    .sidebar__menu-list--white{
        color:white;
    }
    .sidebar__menu-list--white:hover{
        color:#0080cc;
    }
}

/* main content */
.sl-main-content{
    padding: 30px 30px 0px 110px;
}
@media all and (max-width:960px){
    .sl-main-content{
        padding: 0;
        margin-top: 90px;
    }
}

/* dashboard */
.sl-dashboard__title{
    margin-top: 70px;
    text-align: center;
}
.dashboard-btn{
  position: relative;
  border-radius: 0 !important;
}

.dashboard-btn svg{
    height: 36px;
    width: 111px;
    left: 1;
    position: absolute;
    top: -1;
}

.svg-rect{
 fill:none;
 width: 100%;
 height:100%;
 stroke: #ffffff;
 stroke-width: 2;
 stroke-dasharray: 400, 0;
 transition: all 0.35s linear;
}
.dashboard-btn:hover{
  /*btn is-info in bulma will set the following colors as default, to make it clear we commit those colors*/
  background-color: transparent !important;
  border-color: transparent !important;
  font-weight: 600;
}
.dashboard-btn:hover .svg-rect{
  stroke-width: 3;
  stroke-dasharray: 15, 310;
  /*when dashoffset is 30, line will go anti-clockwise*/
  stroke-dashoffset: -300;
  transition: all 1.35s cubic-bezier(0, 0, 0.5, 1);; 
} 

/* record */
.sl-record__title{
    text-align: center;
}

.newRecord_button{
    margin-bottom: 20px;
}

.sl-TPG__left{
    margin-left: 5px;
}

.sl-NZ__left{
    margin-left: 11px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.to-left{
    float: left;
}
.to-right{
    float:right;
}

  @media all and (max-width:960px){

 .table-scrollable{
     overflow:auto;
     overflow-y: hidden;
     max-width: 100%;
 }
}
@media all and (max-width: 375px){
.newRecord_button{
    font-size: 0.8rem !important;
}
.input{
    font-size: 0.8rem !important;
}
}

/* counts */
.sl-count__title{
    margin-top: 70px;
    text-align: center;
}

.table-style{
    width: 100%;
}
